*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#4f46e5,#7c3aed);
}

.calculator{
background:#1f2937;
padding:20px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
width:350px;
}

#display{
width:100%;
height:80px;
border:none;
outline:none;
font-size:32px;
text-align:right;
padding:15px;
margin-bottom:15px;
border-radius:10px;
background:#111827;
color:white;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:65px;
border:none;
border-radius:12px;
font-size:22px;
cursor:pointer;
background:#374151;
color:white;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#4b5563;
}

.operator{
background:#f59e0b;
}

.operator:hover{
background:#d97706;
}

.equal{
background:#10b981;
}

.equal:hover{
background:#059669;
}

.zero{
grid-column:span 2;
}